[2020-07-24 14:02] gsreynolds opened #1667 "WinRM elevated mode and reboot handling"
## :ghost: Brief Description

When using WinRM elevated mode, it appears that Test Kitchen reboot handling isn't working. I'm able to reproduce this reliably in the below cookbook. This was tested in Azure so using the `kitchen-azurerm` driver, but is possibly common to all drivers.

## Version

2.5.1 and 2.5.2, in Chef Workstation 20.6.62 and 20.7.82

## Environment

Windows 2016 and Windows 2019

[2020-07-29 17:46] tyler-ball commented on #1665
Closing this because we reverted the change and released it in TK 2.5.4. That will go out in the next Workstation release early next week. We'll take another stab at fixing the original issue then too!

[2020-07-29 17:46] #1665 closed

[2020-07-31 21:47] scalp42 commented on #1647
@grdz any chance you could reopen the issue as I'm curious too

[2020-08-01 04:17] grdz commented on #1647
Ok, I edited my issue and reopened it.

[2020-08-12 23:16] xmichelleyang opened #1672 "test-kitchen kitchen-converge: Errors were encountered while processing /tmp/omnibus/cache/chef_16.3.45-1_amd64.deb"
## :ghost: Brief Description
Currently going through the following walkthrough and hitting an error when I run kitchen-converge.
https://kitchen.ci/docs/getting-started/creating-cookbook/
## Version
Not sure what this means but all the versions of what tutorial told me to download are listed below:

## Environment

Running on Windows 10 via PowerShell.
[code]

## Scenario

I can't successfully run

[2020-08-17 16:17] clintoncwolfe opened #1674 "API call to dump current Kitchen configuration"
### :speaking_head: Foreword

## Problem Statement

Several Test Kitchen and InSpec plugins (at least kitchen-vcenter, inspec-chef, inspec-vault) require runtime access to the running Kitchen object's configuration. This is currently obtained through stack introspection, like this (by @tecracer-theinen):

[code]

That is likely to be brittle in the long run.

## :grey_question: Possible Solution

[2020-08-24 17:06] clintoncwolfe opened #1677 "Allow plugins to declare whether they are thread-safe"
## Problem Statement

The concurrency option (`-c`) makes Kitchen spawn a new thread for each count of concurrency for several actions - at least create, converge, verify, destroy. This means that any plugin that implements the corresponding action *must* be thread-safe.

Not all plugins currently are thread-safe, and some cannot ever be made to be thread-safe. Thus the concurrency option, when us

[2020-08-24 18:25] clintoncwolfe commented on #1677
Huh, this already exists for Driver plugins.... https://github.com/test-kitchen/test-kitchen/blob/917f27855bc466907cf387dd9da859a8a29bcef6/lib/kitchen/driver/base.rb#L96

but I don't see anywhere that the method is actually called.

[2020-08-25 18:34] clintoncwolfe commented on #1677
The accessor that gets populated, `serial_actions`, is called at least [here](https://github.com/test-kitchen/test-kitchen/blob/917f27855bc466907cf387dd9da859a8a29bcef6/lib/kitchen/instance.rb#L332) - though that line is buggy, as that call returns an array, and an empty array evaluates to true.

It looks like the key call is actually [here](https://github.com/test-kitchen/test-kitchen/blob/917f27

[2020-08-28 20:02] clintoncwolfe commented on #1674
`Kitchen::Instance#diagnose` seems promising, if you could just get a handle on an instance

[2020-09-02 18:31] clintoncwolfe commented on #1530
Hey, this is a great report, and is spot-on - kitchen-inspec is not thread-safe. This is the clearest report of test result scrambling I've seen - thank you for that.

I think I have a solution - https://github.com/inspec/kitchen-inspec/pull/259 disables multithreading for the kitchen-inspec plugin, and I get stable runs with accurate test result counts under the vagrant, dokken, and vcenter drive

[2020-09-02 18:31] #1530 closed

[2020-09-03 19:30] clintoncwolfe opened #1680 "Consider declaring the chef_solo provisioner single-threaded to protect berkshelf"
## :ghost: Brief Description

Important background: [Berkshelf is not thread-safe and we're calling it wrong](#1307). The chef_solo provisioner - which I believe is obliged to use Berkshelf for cookbook resolution as it does not support Policyfiles - is thus highly unstable when used with the `-c` concurrency flag.

The correct long-term fix is as described on #1307 - to correct the way that we in

[2020-09-08 16:45] mcascone commented on #1342
I would just like to have an `upgrade` option as an install strategy. So kitchen will go and install the version you want on a box, and not do it again while that box is still up. Is there an existing way to do this? `always` seems like a waste of time.

[2020-09-08 17:48] #1677 closed

[2020-09-09 17:01] jakauppila opened #1682 "Proxy configuration for Berkshelf during `kitchen converge`"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

When I run `kitchen converge` for a cookbook execution, it attempts to resolve cookbook dependencies with Berkshelf and it appears to not respect my proxy configurations as it times out.

M

[2020-09-11 15:30] scottvidmar commented on #727
+1 on this one. Internal CA's are pretty common around the industry, and it would be good to support them in a bit easier method.

[2020-09-15 14:52] vtodorovv opened #1685 "Rename "kitchen converge" to "kitchen bake""
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

A random idea (probably not the first time this has been requested..). In cooking terminology, "baking" should replace "converge"...

## :grey_question: Possible Solution

So we can wr

[2020-09-15 21:50] #1680 closed

[2020-09-16 14:34] tecracer-theinen opened #1686 "Kitchen fails to detect Amazon Linux2 (ARM) properly."
## :ghost: Brief Description

Kitchen fails to detect Amazon Linux2 (ARM) properly.

## Version

2.6.0

## Environment

- Cloud: AWS
- Region: eu-west-1
- Instance: t4g.nano
- AMI: Amazon Linux 2 (ARM) ami-028f419d2bf90fe5d

## Scenario

Using TK with ARM-based machines to save money.

## Steps to Reproduce

1. create a t4g.nano instance with recent Amazon2 ARM AMI
2. try converging against it and

[2020-09-29 11:14] bastien-jove-cbp commented on #1685
This would have a bunch of impact on many CI configurations using the steps to ensure multiple converges are idempotent as well as other tools using kitchen.

Following that pun, provision may become heat-oven  and destroy burn, it makes things less clear to start with and prone to mess users searches even more.

I vote against renaming the phases.

[2020-10-01 15:39] cheeseplus commented on #1685
One can always create an alias but arbitrarily changing this to lean into the already terrible and confusing cooking puns doesn't seem like it will help any users.

[2020-10-02 18:24] nimDevOps opened #1689 "Re-opening Shell Provisoner Fails on Windows due to execute bit"
## :ghost: Brief Description

This is additional attempt to fix **Shell Provisoner Fails on Windows due to execute bit** also known as  #1413,  #1381 and #442
The issue was declared as resolved few times but actually has never worked for me after.

## Version

    $ chef --version
    ChefDK version: 4.10.0
    Chef Infra Client version: 15.13.8
    Chef InSpec version: 4.22.1
    Test Kitchen ver

[2020-10-05 15:19] nimDevOps commented on #1610
Found the issue: sometimes Windows 'decided' to switch interface from 'Private' to 'Public' for unknown for me yet reasons. And you cannot access wunrm remotely over Public interface. Once Interface is Private or Domain, winrm will start working again.

[2020-10-05 15:19] #1610 closed

[2020-10-13 08:38] fortunejuggle opened #1690 "ipv6 issues"
## :speaking_head: Foreword

we use autoscaling ec2 instances with a predefined alpine ruby container. Kitchen setup works correctly but then kitchen uses the ipv6 adress and fails. We have no ipv6 activated in our instances and even thought these cmds also do not prevent kitchen from using the ipv6 adress

[code]
## :ghost: Brief Description

## Version

[Version of the project installed]

## Env

[2020-10-15 15:34] jburns24 commented on #1672
I ran into this exact same. All on windows 10 in a powershell environment. I tested with the following versions
Chef Workstation 20.6.62
Chef Workstation 20.9.158

and ChefDK 4.2.0

Each time I would `chef generate cookbook` and then try to converge the default ubuntu suite. Each time running into the same issue of downloading a corrupt deb file. I tried specifying other versions of chef omnibus a

[2020-10-16 05:53] fortunejuggle commented on #1690
it is the docker behavier, not kitchen. Docker enables ipv6 even if the host machines have no ipv6 enabled. So i will close this issue

[2020-10-16 05:53] #1690 closed

[2020-10-19 19:21] smoms opened #1691 "Can't create centos65 box with Test Kitchen script"
Hi,
I do have this kitchen.yml

[code]

I do run `kitchen create default-centos65` and get this error:

[code]

[2020-10-21 21:02] clintoncwolfe commented on #1691
Hello,
 I am sorry you are having difficulty. I tried using test-kitchen 2.7.2 and your provided Kitchenfile and I was able to create the test instance, with box learningchef/centos65 version 1.0.7. I used vagrant 2.2.6 and kitchen-vagrant 1.7.0.

When I upgraded to vagrant 2.2.10, I got your error!

I did some digging and it looks like vagrant 2.2.10 has a bug in the code that sets hostnames on R

[2020-10-22 02:36] LegacyTechnologie opened #1692 "/opt/chefdk/embedded/lib/ruby/2.6.0/openssl/digest.rb:40:in `initialize': Unsupported digest algorithm (SHA256). (RuntimeError)"
## Kitchen.yml
---
driver:
  name: docker

provisioner:
  name: chef_zero
  log_level: debug
  always_update_cookbooks: true
  product_name: chef
  product_version: 14

verifier:
  name: inspec

platforms:
  - name: debian-9

suites:
  - name: default
    run_list:
      - recipe[apache::default]
    verifier:
      inspec_tests:
        - test/integration/default
    attributes:

## :ghost: Brief

[2020-10-27 12:15] russellseymour opened #1739 "`run_command` Shell script contains Windows line endings"
When using the `kitchen-dokken` driver with Test Kitchen on Windows the `run_command` appears to have Windows line endings in it, e.g.

`cat /opt/kitchen/run_command`
[code]

This results in the following error when `kitchen converge` is run

[code]

## Version

Chef Workstation version: 20.10.168
Chef Infra Client version: 16.6.14
Chef InSpec version: 4.23.11
Chef CLI version: 3.0.33
Chef Habitat

[2020-10-29 21:20] smoms commented on #1691
@clintoncwolfe thanks. Should I remove vagrant and install the 2.2.9?

[2020-10-30 16:20] clintoncwolfe commented on #1691
Yes, downgrade to vagrant 2.2.9

[2020-11-06 11:25] tecracer-theinen opened #1693 "Deprecation Messages invalidate `kitchen diagnose` Output"
## :ghost: Brief Description

As deprecation notices get printed out via STDOUT, they will invalidate the normally YAML formated output of `kitchen diagnose`. That creates problem on any occasion where the resulting YAML is supposed to be parsed for specific values (e.g. in pipelines).

## Version

2.7.2

## Environment

any environment, but I had this on Ubuntu

## Scenario

Parsing `kitchen diag

[2020-11-15 20:13] tbugfinder opened #1694 "frozen log messages raise error "can't modify frozen String""
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If a frozen string is passed to the logger (https://github.com/inspec/inspec-azure/blob/v1.33.2/libraries/backend/helpers.rb#L332), the error `can't modify frozen String` is raised.

[code]

[2020-11-16 02:32] ramereth commented on #1630
I did some digging around on this and I think I have a solution that will work. I'll try making a PR which addresses in the next day or two. Basically `$env:temp` is coming from the provisioner and we need to short circuit it in the upload method for exec when it sees that being set to something sane.

[2020-11-30 17:21] gionn opened #1696 "Improve the speed of transferring files to nodes via SSH"
## :frowning_person: Problem Statement

Running `kitchen converge` with ssh transport takes a couple of minutes to copy files over ssh on my setup.

## :grey_question: Possible Solution

Make something like https://github.com/criteo/kitchen-transport-speedy the default implementation for the ssh transport (on my setup it takes 5 seconds for each converge).

## :arrow_heading_up: Describe alternati

[2020-12-01 15:45] danielcbright opened #1697 "Use `product_version` to install the version of Chef Infra Client specified, and re-install if a different version of the Client is already installed"
### :speaking_head: Foreword

This FR is to request consistency on how the `product_version` setting is utilized, helping to make TK more user friendly.

Idea: https://chef-software.ideas.aha.io/ideas/SH-I-164

## :frowning_person: Problem Statement

Currently, if you are using an image with Test Kitchen that already has a version of Chef Infra Client installed that is other than the one specified

[2020-12-01 16:07] stevenoneill-jmfamily commented on #1697
For example, if Chef-Client 14.15.16 is baked in, but latest 16 stable is desired, then I'd expect using provisioner settings of `product_name: chef` and `product_version: 16` to result in a one time update to latest stable 16.  Subsequent runs of test-kitchen would see that latest stable 16 is being used and do no further changes.

This does not work with the `install_strategy: once".  And with "

[2020-12-02 17:46] #1630 closed

[2020-12-02 20:46] affrae commented on #1630
Thank you so much!!! 💜

[2020-12-09 00:44] tas50 commented on #1697
I believe this is a duplicate of https://github.com/test-kitchen/test-kitchen/issues/1342

[2020-12-09 00:44] #1697 closed

[2020-12-09 02:31] stevenoneill-jmfamily commented on #1697
Good catch @tas50.  Yes, dupe.

[2020-12-09 02:34] tas50 commented on #1697
@danielcbright @stevenoneill-jmfamily Also I REALLY want to get this fixed. It makes testing upgrades hard.

[2020-12-14 23:00] bdwyertech opened #1698 "Custom Omnibus API Support"
I run my own internal Omnibus API in order to operate within an airgap.  It is pretty much a reverse proxy to omnibus.chef.io which rewrites package URL's and such to point toward our internal repository, which also functions as a caching proxy to packages.chef.io.  It also rewrites the response body for install.sh/ps1 to update all references to omnibus.chef.io to point toward the internal API.

[2020-12-15 17:03] danielcbright opened #1699 "WinRM user: value not being set when defined via transport"
## :ghost: Brief Description

When using the WinRM transport, Test Kitchen fails on the `converge` action with the error message:

[code]
## Version

`2.8.0`

## Environment

Windows 10 Machine, using the `kitchen-docker` driver, and the `winrm` transport.

## Scenario

Trying to spin up a Docker container with Test Kitchen, then use `winrm` to connect to it.

## Steps to Reproduce

1. Setup a `ki

[2020-12-15 17:26] matthewprenger commented on #1696
+1, we run test-kitchen on EC2 and it takes forever to upload since each file is a separate operation out over the internet. Switching to kitchen-transport-speedy dropped our sync times from 10+ minutes to under 30s.

[2020-12-15 23:28] danielcbright commented on #1699
Update, it seems that the issue lies with the `winrm.rb` in the transport lib, it doesn't like `:username`, so I changed all occurances of `:username` to `:winrm_username` in https://github.com/test-kitchen/test-kitchen/blob/3dcb8dc5a75a4d909c8f7d36c28cb4369af17846/lib/kitchen/transport/winrm.rb#L427 and the username setting works if I change my `kitchen.yml` to use `:winrm_username`

I'm not grea

[2021-01-07 20:14] paulcalabro opened #1703 "Post Verification Hook Does Not Fire When Test Failures Occur"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

When one of my InSpec tests fail, the post verification hook will not execute.

## Version

4.24.8

## Environment

Running within a Docker container

## Scenario

Trying to execute InSpec

[2021-01-08 21:17] tas50 commented on #396
I'm going to close this out at this point. We haven't had a report of the problem on any modern Test Kitchen / Workstation combo. We'll need a repro case against the latest releases to move forward.

[2021-01-08 21:17] #396 closed

[2021-01-08 21:19] tas50 commented on #232
At this time I'm going to close this issue out. Busser is not a priority technology for us. If someone in the community wants to bring Busser support up to date I think we'd support doing that. It's not going to be work that we take on though since our focus is InSpec and any other verifier that runs in a more direct fashion.

[2021-01-08 21:19] #232 closed

[2021-01-08 21:19] tas50 commented on #236
I'm going to close this one out at in general we consider roles / environments to be a legacy pattern. It's not something we'll be developing further within Test Kitchen.

[2021-01-08 21:19] #236 closed

[2021-01-08 21:21] tas50 opened #1704 "junit output support"
This breaks out the junit output format support from  https://github.com/test-kitchen/test-kitchen/issues/322

It would be helpful to support industry standard output formats so we can integrate better with CI systems.

[2021-01-08 21:22] tas50 opened #1705 "Add ability to fail fast in the configs"
This moves the request for fast fails from here: https://github.com/test-kitchen/test-kitchen/issues/322

It would be useful to set a fast_fail option in the config to fails the whole run if anything fails.

[2021-01-08 21:23] tas50 commented on #322
I'm going to close this out since I've broken out the fast fail and junit items into their own issues.

[2021-01-08 21:23] #322 closed

[2021-01-08 21:24] tas50 commented on #1631
This repo is not designed to be used directly by the end user so we don't include a lockfile. This repo is for development only. For use we recommend either gem installing in your own environment where you manage particular plugin versions, or using Chef Workstation where Chef handles that work for you.

[2021-01-08 21:24] #1631 closed

[2021-01-08 21:27] tas50 commented on #754
Had we built this in 2021 I think we would have made chef a plugin, but at this point it really just makes things more complex and more difficult to test / ship / maintain. I'm not seeing a particular win we get out of this other than code correctness, which on its own is not a reason to ship a major change like this. I'm going to close this out unless someone can come up with a really compelling

[2021-01-08 21:27] #754 closed

[2021-01-08 21:30] tas50 commented on #1698
@bdwyertech This isn't a direction we'd want to go since that takes the legacy codepath for installations. If you have a suggestion for how to handle this in the newer product_name/product_version you can open an issue for that, but this particular code is on the way out so we don't want to extend it.

[2021-01-08 21:30] #1698 closed

[2021-01-08 21:56] tas50 opened #1706 "Remove the chef-apply provisioner"
## :frowning_person: Problem Statement

chef-apply is not a command in the Chef Infra kit that we'd like to continue. It is more than likely that this will be removed entirely and this little-used Test Kitchen provisioner should be removed to start that process off.

## :grey_question: Possible Solution

- Add a deprecation warning now
- Remove it at some point in the future

[2021-01-08 21:59] tas50 opened #1707 "Remove chef-solo provisioner"
## :frowning_person: Problem Statement

Chef-solo legacy mode (non-chef-zero operation) is slated for removal in a future release of Chef Infra Client. We should start the process of removing this provisioner here in favor of chef-zero

## :grey_question: Possible Solution

- Add deprecation warning
- Remove the plugin at a yet to be determined time in the future

[2021-01-08 22:29] SMillerDev commented on #1631
You don't like reproducible builds from a development perspective?

[2021-01-08 22:41] kagarmoe commented on #1707
List of `chef-solo` Related Docs:

**Workstation**:
config_yml_kitchen.md
kitchen.md
chef_shell.md
chef_vault.md
chefspec.md
foodcritic.md

**Automate**:
data_collection.md
cfgmgmt.swagger.json

**Chef Infra Docs:**
chef_solo.md
config_rb_solo.md
ctl_chef_solo.md
ctl_automate_server.md
config_rb_client.md
data_bags.md
data_collection_without_server.md
debug.md
environments.md
handlers.md
recipes.m

[2021-01-08 22:52] bdwyertech commented on #1698
I more or less just need a mechanism where I can provide an alternative DNS name to packages.chef.io -- it is a constant in mixlib-install I think.

[2021-01-08 22:56] kagarmoe commented on #1706
Related Docs:

**Workstation**:
ctl_chef_apply.md

**Chef Docs**:
glossary.md

**Shortcodes**:
knife_common_windwquotes_module.md
knife_common_windows_quotes_module.md

[2021-01-10 12:58] qubitrenegade commented on #396
@tas50 you are amazing!

I think this was actually solved a long time ago, but admittedly I had
forgotten about this issue...  mea culpa!

I love that you're closing legacy issues!   Merry New Year!

- Q

On Fri, Jan 8, 2021 at 2:17 PM Tim Smith <notifications@github.com> wrote:

[2021-01-11 01:16] tas50 commented on #1703
@paulcalabro I think this needs to get filed against the https://github.com/inspec/kitchen-inspec. I'd move it, but GitHub won't allow cross-org issue moving.

[2021-01-11 01:16] #1703 closed

[2021-01-11 01:26] tas50 commented on #1087
It seems like the safest thing here would be requiring /foo/ for the regex so existing strings would be exact matches.

[2021-01-11 01:28] tas50 opened #1708 "Rename chef-zero provisioner to chef-infra"
chef-zero doesn't really mean anything to end users. We should rename this provisioner (with backwards compat) to chef-infra and make it the new default.

[2021-01-11 01:29] tas50 commented on #772
Closing in favor of https://github.com/test-kitchen/test-kitchen/issues/1708

[2021-01-11 01:29] #772 closed

[2021-01-11 01:31] tas50 commented on #372
If you want to code this one up @lamont-granquist we can merge it, but at this point, it's not going to be something we take on so I'm going to close this out.

[2021-01-11 01:31] #372 closed

[2021-01-11 01:32] tas50 commented on #421
Excludes is here: https://kitchen.ci/docs/getting-started/excluding-platforms/

[2021-01-11 03:11] tas50 commented on #1693
@tecracer-theinen Would you be ok with deprecation messages just writing to stderr instead?

[2021-01-11 03:11] tas50 commented on #1692
@LegacyTechnologie Can you try to reproduce this using the latest Chef Workstation please?

[2021-01-11 03:13] tas50 commented on #1691
Closing this out since this looks to be a vagrant issue and not a Test Kitchen issue.

[2021-01-11 03:13] #1691 closed

[2021-01-11 03:14] tas50 commented on #1689
@nimDevOps Can you confirm this with the latest Chef Workstation. It includes never versions of Test Kitchen and the plugins.

[2021-01-11 03:16] tas50 commented on #1686
@tecracer-theinen Should this be in the Test Kitchen repo or the kitchen-ec2 repo?

[2021-01-11 03:20] tas50 commented on #1643
@vexx32 Since you dug into where exactly this is failing any chance you want to cut a PR to this repo to make sure we properly grab those files even if things fail.

[2021-01-11 03:21] #1622 closed

[2021-01-11 03:21] tas50 commented on #1622
Closing this since we shipped it.

[2021-01-11 03:23] tas50 commented on #1620
If you're failing to generate the policyfile.lock the issue it actually further up the stack than Test Kitchen. We've made a lot of changes to how this works in Chef Workstation in the last year, so it would be great if you could upgrade to the latest Chef Workstation to see if this is still an issue.

[2021-01-11 03:23] vexx32 commented on #1643
@tas50 I can most likely sort out the functionality, but I don't really have a good idea of how to add CI tests for the behaviour?

[2021-01-11 03:24] tas50 commented on #1609
This is something the community is going to need to tackle and I think that folks like @ramereth should probably provide input on how they think it could best be handled.

[2021-01-11 03:25] tas50 commented on #1570
ChefDK 3 is not going to have support for many modern keys that distros default to now. You're going to need to upgrade to Chef Workstation to pull in the latest Test Kitchen with newer releases of net-ssh.

[2021-01-11 03:25] #1570 closed

[2021-01-11 03:26] tas50 commented on #1564
Closing this out since there was a resolution by updating the config.

[2021-01-11 03:26] #1564 closed

[2021-01-11 03:30] tas50 commented on #1307
I'm going to close this one out as a wont-fix since we're not investing further effort into Berkshelf at this point. Yes there are known problems, but the solution is really to move off Berkshelf and use Policyfiles instead which is being actively improved

[2021-01-11 03:30] #1307 closed

[2021-01-11 03:45] tas50 commented on #1628
I'm going to close this one out since it sounds like you don't need the deprecated options to use cinc. I have a few more fixes that need to go into the new options and then we'll start to more aggressively move folks off the legacy options.

[2021-01-11 03:45] #1628 closed

[2021-01-11 03:47] tas50 commented on #1641
I don't think this is a place we'd ever go with the lifecycle hooks. The point of the hooks is to provide a dead-simple shell execution that runs before/after. If we had to support a full recipe execution that would be a much more complex environment that would basically be a complete run of the chef-zero provisioner before running the provisioner.

[2021-01-11 03:47] #1641 closed

[2021-01-11 03:47] tas50 commented on #1624
Our test suite needs to be fully modernized.

[2021-01-11 04:37] tas50 commented on #602
We're not actively developing chef-vault at this point and we're suggesting that all users move away from the solution for secrets management with Chef Infra. Due to that we will not be improving how chef-vault is handled in Test Kitchen. If someone in the community wants to take this work on, we'd be more than happy to merge it. I'm going to close this issue out though since we won't be diving in

[2021-01-11 04:37] #602 closed

[2021-01-11 14:19] tecracer-theinen commented on #1693
I think that would be the cleanest solution to show them but not invalidate YAML output etc, yes.

[2021-01-11 14:20] tecracer-theinen commented on #1686
True, that should be kitchen-ec2. Apologies.

[2021-01-11 19:23] ramereth commented on #1609
Currently, if you use Cinc Workstation test-kitchen should work "out of the box" if you're testing against Linux or MacOS systems AFAIK. This is due to the fact that there is a wrapper in place which test-kitchen defaults to.

However I do know there is some issues with testing on Windows instances since that wrapper doesn't exist yet. I recall we created a ruby-based wrapper which should resolve

[2021-01-11 21:17] tas50 commented on #428
This has already been shipped in with the berksfile_path config

[2021-01-11 21:17] #428 closed

[2021-01-11 21:18] tas50 commented on #540
I'm going to close this out since all the init code is totally dead.

[2021-01-11 21:18] #540 closed

[2021-01-11 21:20] tas50 commented on #764
I'm going to close this one out as a wont-fix. Kitchen init is not really our target path for setting up new kitchen installs in 2021 and the current state of things is functional for nearly all users.

[2021-01-11 21:20] #764 closed

[2021-01-11 21:25] gretel commented on #540
thank you.

[2021-01-12 01:03] tas50 opened #1710 "Add basic telemetry to Test Kitchen"
### :speaking_head: Foreword

Maintaining Test Kitchen is a rather tricky thing. Each person involved in this project started as a user of Test Kitchen and brings with them preconceived notions of how the product is used, which are generally focused on themselves as the one and only user of the project (even if we try not). The only other real way to get outside opinions on usage is to check issue

[2021-01-12 10:54] Lasering commented on #1641
Running chef-zero ends up being invoking the transport (usually ssh) and running a command (usually chef-zero). Its not a dead-simple shell execution, but its also not that far from it.

[2021-01-15 20:11] nimDevOps commented on #1689
Hi, @tas50 Sorry for the delay. I've checked  test-kitchen-2.7.0.gem test-kitchen-2.7.1.gem test-kitchen-2.7.2.gem test-kitchen-2.8.0.gem test-kitchen-2.9.0.gem gems and all of them have identical **lib/kitchen/configurable.rb** file.
I will try to install newest version and test.

[2021-01-19 17:37] Geogboe commented on #1565
Just fyi, I just dug up this page which seems to have some transport config information: https://docs.chef.io/workstation/config_yml_kitchen/#transport-settings

[2021-01-26 12:04] mallikarjunagutta opened #1720 "If we get an issue like SSH failed to connection while using kitchen create try to change the create a new workbook by removing the old"
If we get an issue like SSH failed to connection while using kitchen create try to change the create a new workbook by removing the old  .

My work around is i ahve taken a new cookbook with same name and removed the old one worked fine

[2021-01-27 06:16] mlcooper commented on #815
Hi @tas50, @haidangwa and I still have a need for this and it has been opened for quite some time.  We're not sure why the `Accepted` label was removed, but is this something that could be re-accepted and implemented?

[2021-01-28 06:26] tas50 commented on #1399
Fix has been merged to master in https://github.com/test-kitchen/test-kitchen/pull/1719

[2021-01-28 06:26] #1399 closed

[2021-01-28 19:01] #777 closed

[2021-02-08 08:15] Tensibai commented on #1698
@bdwyertech Related with a workaround (kindof): https://github.com/chef/mixlib-install/issues/339

[2021-02-10 18:29] marcparadise commented on #1586
Thanks for reporting this @terminalmage.  What processes would you expect to continue running after kitchen disconnected?

[2021-02-10 18:45] marcparadise commented on #1699
Thanks for reporting @danielcbright, and for the details.

[2021-02-10 18:49] marcparadise commented on #1699
Looking at the linked code and the (transport settings)[https://docs.chef.io/workstation/config_yml_kitchen/#transport-settings], should this be set in the yml as `username` and not `user`?

[2021-02-10 19:08] danielcbright commented on #1699
hi @marcparadise it's been a while since I looked at this, but IIRC, setting it to `username` had no affect on `config[:user]`, for whatever reason it isn't passing that variable through to the function, and I didn't have time to really dig through the code path and figure it out

[2021-02-11 09:41] grdz commented on #1647
Ok, someone on [StackOverflow](https://stackoverflow.com/a/65191742/7349932) pointed out, that this could not work because Test Kitchen does not save any node attributes to chef-server after a run, obviously. So, by this logic, even when I achieved `ohai.optional_plugins [:Passwd]` being present in `client.rb` on a test node, by doing this in `.kitchen.yml`:

[code]

then still the test node had n

[2021-02-11 09:41] #1647 closed

[2021-02-14 19:31] tas50 opened #1723 "Switch the default provisioner in kitchen init from chef-solo to chef-zero"
As part of the eventual goal of removing the chef-solo provisioner, we need to switch the default configs over to chef-zero.

## Acceptance Criteria

- Running kitchen init produces a config with chef-zero configs
- Any documentation references to the default mention chef-zero

[2021-02-14 20:09] tas50 commented on #1580
I'm going to close this one out since it looks like the upstream changes in the vmware API have resolved the problem.

[2021-02-14 20:09] #1580 closed

[2021-02-16 13:16] Fguhhla commented on #1694
same failure with test-kitchen 2.10.0

[2021-03-18 05:42] mbaitelman opened #1729 "Add option for ruby code for lifecyle hooks"
### :speaking_head: Foreword

Every so often I stumble across a problem that could be easily solved with a touch of ruby code.

## :frowning_person: Problem Statement

There are times where running ruby code directly could solve issues I have when writing kitchen tests. Most recently I was trying to think about how to do an OS-agnostic sleep for 2 minutes after a destroy when reusing a hardcoded I

[2021-03-24 04:07] tas50 commented on #568
We now remove the /opt/chef directory as part of the chef uninstall so this should no longer be an issue at the chef level. I'm going to close this out since we don't need to further expand the detection on the TK side.

[2021-03-24 04:07] #568 closed

[2021-03-24 04:26] tas50 commented on #1692
I'm going to close this out sincre we never heard back if this is still an issue with Workstation.

[2021-03-24 04:26] #1692 closed

[2021-03-24 04:26] tas50 commented on #1694
I'm going to close this out from the Test Kitchen side since we need to ensure that inspec-azure is handling frozen strings.

[2021-03-24 20:33] paulcalabro commented on #1643
I've observed this behavior with lifecycle hooks.
They don't fire if the test fails. I've opened an issue here for kitchen-inspec, but thought it'd be worth mentioning in case it's related:

https://github.com/inspec/kitchen-inspec/issues/276

[2021-03-24 21:03] tbugfinder commented on #1694
Hm, actually I thought it was traced down to the logger sitting in test-kitchen.

[2021-03-24 21:09] tbugfinder commented on #1694
The concat isn't applicable for frozen strings.

https://github.com/test-kitchen/test-kitchen/blob/master/lib/kitchen/logger.rb#L300

[2021-03-24 23:03] tas50 commented on #1694
Nice catch. I added a dup on those: https://github.com/test-kitchen/test-kitchen/pull/1731

[2021-04-05 17:55] jayaddison-collabora opened #1733 "rake: test failure due to deprecation messages from minitest in stderr"
## :ghost: Brief Description

Following a checkout and `bundle install` from 93290ef577d57f505e9596e112d06cbf610ae31b, some of the `rake` tests -- particularly ones that capture output from stderr -- fail due to `minitest` deprecation notices that are not part of the test expectations.

## Version

2.11.2

## Environment

Linux, ruby 2.7.2.

Minitest appears to have two versions installed:

[code]

[2021-04-06 09:25] jayaddison-collabora opened #1736 "kitchen-inspec verifier: Could not load the 'inspec' verifier from the load path."
## :ghost: Brief Description

The following error message appears when running `kitchen converge`:

"Could not load the 'inspec' verifier from the load path. Did you mean: busser, dummy, shell ? Please ensure that your verifier is installed as a gem or included in your Gemfile if using Bundler."

`test-kitchen` and the `kitchen-inspec` plugin have been installed as user-installed gems.

## Version

[2021-04-06 09:57] jayaddison-collabora opened #1737 "kitchen console: undefined method `input_array' for pry versions 0.12 and greater"
## :ghost: Brief Description

When opening the `kitchen console` with a version of `pry` greater than 0.12 installed locally, an error occurs due to a [breaking change](https://github.com/pry/pry/blob/master/CHANGELOG.md#breaking-changes-2) to rename `input_array` to `input_ring` from `pry` v0.12.

## Version

[code]

## Environment

Debian 11 (bullseye)
Ruby 2.7.2

## Scenario

Exploring the cons

[2021-04-06 10:40] jayaddison-collabora commented on #1736
This appears to have been a misconfiguration issue related to the gems installed locally on the system.

In particular, `test-kitchen` was installed in duplicate as a system-wide gem as well as user-installed, and I think that this was causing load-path resolution issues at runtime.  The user's PATH was resolving the `kitchen` binary to the system-wide binary, and plugins were being loaded from th

[2021-04-06 10:40] #1736 closed

[2021-04-08 05:40] hurricanehrndz opened #1740 "Verifier fails with winRM - inspec command works"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

kitchen verify fails with winRM driver -- specifically checking for user

## Version
Test Kitchen version 2.11.2
GEM
  remote: http://rubygems.org/
  specs:
    activesupport (5.2.5)

[2021-04-09 01:51] clintoncwolfe commented on #1740
[code]
This is the key line.  The user verification relies on an InSpec `command` resource under the hood. In fact, all `command` resources would fail with the same error under kitchen-inspec.

This was a regression in inspec 4.31.0 (https://github.com/inspec/inspec/issues/5454) - we released a fix for it in 4.31.1 . Try updating to that version and try again.

Thanks for the excellent report!

[2021-04-09 20:38] hurricanehrndz commented on #1740
Thankyou! Can confirm update works.

[2021-04-09 20:38] #1740 closed

[2021-04-10 00:35] #1737 closed

[2021-04-10 00:37] #1733 closed

[2021-04-13 02:16] #1694 closed

[2021-04-13 02:17] tas50 commented on #1694
Closing this was fixed

[2021-04-13 02:17] tas50 commented on #1620
I'm going to close this out since we haven't heard back at this point. If this is still an issue feel free to let us know.

[2021-04-13 02:17] #1620 closed

[2021-04-13 02:20] tas50 commented on #1456
Some of these docs have been tweaked and cleaned up a bit. It's a pretty detailed process to understand the full test cycle so a more verbose set of docs seems appropriate. Closing this one out.

[2021-04-13 02:20] #1456 closed

[2021-04-13 02:27] tas50 opened #1742 "Expand kitchen-ec2 driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/aws/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/driv

[2021-04-13 02:28] tas50 opened #1743 "Expand kitchen-dokken driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/dokken/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/d

[2021-04-13 02:28] tas50 opened #1744 "Expand kitchen-google driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/google/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/d

[2021-04-13 02:28] tas50 opened #1745 "Expand kitchen-vagrant driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/vagrant/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/

[2021-04-13 02:29] tas50 opened #1746 "Expand kitchen-azurerm driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/azurerm/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/

[2021-04-13 02:29] tas50 opened #1747 "Expand kitchen-hyperv driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/aws/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/driv

[2021-04-13 02:31] tas50 opened #1748 "Expand kitchen-openstack driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/aws/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/driv

[2021-04-13 02:31] tas50 opened #1749 "Expand kitchen-vcenter driver documentation"
This is part of the large project to fully document all of the Test Kitchen drivers we ship in Chef Workstation. A skeleton driver has been created at https://kitchen.ci/docs/drivers/aws/. This provides an example only. We need to expand this to document the configuration options available.

Here is an example of how I've done this for the kitchen-digitalocean driver:

https://kitchen.ci/docs/driv

[2021-04-13 04:26] tas50 commented on #1565
I've added transport docs here: http://kitchen.ci/docs/transports/

[2021-04-13 04:26] #1565 closed

[2021-04-14 17:10] tdigangi opened #1751 "Test Kitchen Mac OS support"
## Brief Description
Test Kitchen  `local` backend does not support Big Sur Mac OS version 11.2.1

## Version
Test Kitchen version 2.11.2

## Environment
ruby '2.6.3'
kitchen-terraform 4.3
test-kitchen 2.11.2
mac os 11.2.1

## Steps to Reproduce

example:
`cd /path/of/.kitchen.yml`
`kitchen create`
`kitchen converge`
`kitchen verify` -> issue occurs when running controls

## Expected Result
local

[2021-04-14 17:26] marcparadise commented on #1342
When looking into this, it would be good if we could determine which scenarios do/don't work:

- node already has chef installed that matches the specified version, what gets installed?
- node already has an older-than-specified version of chef-infra installed, what gets installed?
- node already has a newer-than-specified version of chef-infra installed, what gets installed?
- node has no chef-in

[2021-04-14 17:40] marcparadise commented on #1468
There's been no additional response since 2018; @paulcalabro - I'm going to close this out, but if the issue is still occurring/relevant please re-open it and provide the additional requested info.

[2021-04-14 17:40] #1468 closed

[2021-04-14 17:43] marcparadise commented on #1469
We should look at outputting deprecation and other warnings to stderr to prevent this.

[2021-04-14 17:47] marcparadise commented on #1514
Closing this, given that a workaround exists, and that it makes sense that verify would still try to install the specific tools/versions it needs to run the verification.

[2021-04-14 17:47] #1514 closed

[2021-04-21 18:08] marcparadise commented on #1563
@lamont-granquist is this still something that should be on the radar? I don't think anything significant has changed since the write-up that makes it obsolete/irrelevant.

[2021-04-21 18:15] marcparadise commented on #1586
This behavior is by design - nothing done over ssh transport is expected to have a lifespan beyond the connection to the node; this is consistent with the behavior of other supported transports.

[2021-04-21 18:15] #1586 closed

[2021-04-21 18:20] marcparadise commented on #1511
@guskovd could you let us know what driver you were using for this node?

[2021-04-21 18:24] marcparadise commented on #1595
Thanks for taking the time to write this up @ghost.  This is a ServerSpec issue; a good next step here would be to try the same test under InSpec. Closing this issue, as it is not related to Test Kitchen.

[2021-04-21 18:24] #1595 closed

[2021-04-21 18:29] marcparadise commented on #1597
Thanks for posting this @arthurlogilab; could you clarify what you're expecting KITCHEN_NFS to do that will prevent this? I am not able to find references to that environment variable as supported in either `test-kitchen` or `kitchen-vagrant`.

[2021-04-21 21:54] guskovd commented on #1511
Hello from 2021! I do not remember. Thank you very much for your promptness))

[2021-04-21 21:55] #1511 closed

[2021-04-22 12:53] arthurlogilab commented on #1597
Sorry, I can't be more explicit, this is a bug I had on an environment I no longer have access to, for a client I no longer work with. I'll close the ticket. Thanks for taking the time to look into it.

[2021-04-22 12:53] #1597 closed

[2021-04-29 17:44] timvisher opened #1756 "EC2 Driver Relies on undefined `refresh!` method of `Aws::Credentials` in at least some cases"
## EC2 Driver Relies on undefined `refresh!` method of `Aws::Credentials` in at least some cases

Some credentials classes are non-refreshing and when those are in use
test-kitchen may trigger an inappropriate call.

## Version

[code]

I tested this down to the latest `20` release as well.

## Environment

[code]

Doesn't seem to have anything to do with the contents of the kitchen run.

## Scena

[2021-05-28 21:32] dbresson commented on #1609
Not really. The provisioner installs chef instead of cinc, and it doesn't currently have a way to not accept the chef license agreement if you work around that to get cinc installed instead.

[2021-06-02 17:16] #1543 closed

[2021-06-02 17:28] marcparadise commented on #1607
Thanks for raising this @cphoward.  This looks like it needs to be resolved in the [fog-opennebula](https://github.com/fog/fog-opennebula) repository , which hasn't been updated in some time. It is likely a reference that is occurring internal to that gem.

[2021-06-02 17:28] #1607 closed

[2021-06-02 17:38] marcparadise commented on #1621
@xorima could you let us know what the `noproxy` value you're using is? It looks like the connection is failing to what I'm assuming is the instance (192.168.139.13 ); `noproxy` wildcards won't work with IP addresses though.

[2021-06-02 17:53] marcparadise commented on #1632
@triodes this is an interesting idea, but given the extent of the changes needed it's not currently  on our roadmap However, if you or any other community member wants to submit a PR and open the discussion around what this would look like, we can re-open this issue at that time - just reference it by number in the PR description.

[2021-06-02 17:53] #1632 closed

[2021-06-02 17:58] marcparadise commented on #1672
@xmichelleyang is this something that continues, and do you see it for different chef versions? I have also not been able to reproduce this issue, though my check was on a linux host.

[2021-06-09 17:14] marcparadise commented on #1751
The version number is reporting oddly there too (mac_osx/20.3.0), this is something we should look into further

[2021-06-09 17:16] marcparadise commented on #1621
@xorima I'm going to close this out for now, but please feel free to re-open it once you have the additional info available.

[2021-06-09 17:16] #1621 closed

[2021-06-09 17:22] marcparadise commented on #1637
If you add `sudo: false` to the shell provisioner config, it will not sudo to execute the script.

[2021-06-09 17:22] #1637 closed

[2021-06-09 17:23] marcparadise commented on #1672
@xmichelleyang please feel free to re-open this issue if you can confirm that it is still occurring for you.

[2021-06-09 17:23] #1672 closed

[2021-06-09 17:27] marcparadise commented on #1682
@jakuppila it looks like you can add `http_proxy` and `https_proxy` to the provisioner config, and have it work as  you would expect.

If you run into troubles with this, please feel free to re-open this ticket so we can look further.

[2021-06-09 17:27] #1682 closed

[2021-06-23 17:49] marcparadise commented on #1720
@mallikarjunagutta it's not clear what the described issue is.  Could you provide your kitchen.yml, kitchen log, and the output of your `kitchen create`command?

[2021-06-23 18:39] tas50 opened #1768 "Generate Policyfiles on the fly"
## :ghost: Brief Description

Right now to test a cookbook with Test Kitchen you need either a Berksfile or a Policyfile. These need to be included just for depsolving in test. We can make this happen automatically with a bit of work, which would make using Test Kitchen easier and reduce boilerplate code in cookbooks, which is always a good thing.

### Scenarios:

#### Berksfile in the cookbook

D

[2021-06-29 10:29] damacus opened #1772 "Mocha deprecation Warning"
## :ghost: Brief Description

Mocha/setup has been replaced with one of mocha/test_unit, mocha/api, mocha/minitest

## Version

`[master](https://github.com/test-kitchen/test-kitchen/commit/5396b849decbdad6e222bfc49afbcb68097675af)`

## Expected Result

Mocha not to throw deprecation warnings

## Actual Result

[code]

## :heavy_plus_sign: Additional context

Add any other context about the proble

[2021-06-29 10:41] damacus opened #1773 "Cucumber tag format deprecation warning"
[code]

[2021-06-29 11:05] damacus opened #1776 "Mocha unelevated_temp_dir deprecation warning"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Running rake unit features produces a mocha deprecation warning for `unelevated_temp_dir`

## Version

`master`

## Environment

CI

## Steps to Reproduce

Run: `bundle exec rake unit featu

[2021-06-29 11:19] damacus opened #1777 "Aruba deprections"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

[code]

## Version

`master`

## Environment

CI

## Steps to Reproduce

Run `bundle exec rake unit features`

## Expected Result

No deprecation warnings.

## Actual Result

Error in descr

[2021-06-29 14:36] #1773 closed

[2021-06-29 14:37] #1777 closed

[2021-06-30 12:57] #1772 closed

[2021-07-02 18:18] #1708 closed

[2021-07-02 18:18] #1723 closed

[2021-07-06 19:31] tas50 opened #1783 "Jan 1st 2022: Update all docs / generators to use `chef_infra` provisioner"
We want to make sure that people have pushed out newer Workstation releases that include the updated provisioned name, but on Jan 1st we should update the docs to all reference the new name.

[2021-07-15 13:16] nielsbuus opened #1788 "kitchen login prompts for password over SSH"
## :ghost: Brief Description

A clear and concise description of what the bug is.

## Version

Chef Workstation version: 21.2.303
Chef Infra Client version: 16.10.17
Chef InSpec version: 4.26.13
Chef CLI version: 3.1.1
Chef Habitat version: 1.6.181
Test Kitchen version: 2.10.0
Cookstyle version: 7.8.3

## Environment

Windows 10 with hyper-v

## Scenario

kitchen converge is hanging and I suspect

[2021-07-16 02:01] glennsarti opened #1789 "Missing v3.0.0 tag in source code"
We can see that v3.0.0 of the Test-Kitchen gem has been release on rubygems, but there's no matching tag in this repository.  Is this a new release mechanism that is not documented or a bug in the 3.0.0 release process?

[2021-07-16 02:02] glennsarti commented on #1789
Also the link in the Changelog goes to 404 page

https://github.com/test-kitchen/test-kitchen/blob/master/CHANGELOG.md#300-2021-07-02

[2021-07-16 09:22] nielsbuus commented on #1788
Update - I have conducted some troubleshooting and discovered a few things.

## kitchen converge
Before you can use kitchen converge with the ssh transport and a non-root user, you have to permit passwordless sudoing for either a particular user or the entire sudo group (which the first user in a new Ubuntu installation is a member of by default).

For kitchen converge to work, sudo commands must

[2021-07-16 09:22] #1788 closed

[2021-07-19 14:26] damacus commented on #1789
👍🏼 Thanks I've fixed that.

[2021-07-19 14:26] #1789 closed

[2021-08-23 15:45] #1743 closed

[2021-09-02 20:05] sandratiffin opened #1798 "multiple_converge not working on Windows"
## :ghost: Brief Description

`multiple_converge: 2` results in 2 converges on linux, and 1 converge on Windows.

## Version

Test Kitchen version: 3.0.0
Chef Workstation version: 21.8.555

## Environment

I am running Test Kitchen on macos (Catalina).

## Scenario

I am trying to do multiple converges on Windows 2019 in particular, so that I can use `force_idempotency: true`, and it is not workin

[2021-09-02 20:45] sandratiffin commented on #1798
Just tested on Test Kitchen v2.6.0, same problem.

[2021-09-12 20:20] ramereth opened #1801 "Reboots do not work when using reboot resource set to delay_mins 0"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Using a `reboot` resource to `:reboot_new` to reboot a VM using test-kitchen fails to work.

## Version
Test Kitchen version: 3.0.0

## Environment

https://github.com/sous-chefs/apparmor/p

[2021-09-13 16:28] thumperward commented on #1699
https://github.com/test-kitchen/kitchen-docker/blob/b45c4858bef19f22a32096e44777bff097f35dd8/lib/kitchen/driver/docker.rb#L107 explicitly unsets `:username` on Windows.

[2021-09-16 17:00] ramereth commented on #1801
I have an update on this issue. This seems to work as long as you do something like the following:
[code]
It does not work (most of the time) if you just do the following:
[code]

[2021-09-22 10:03] deeptshukla opened #1802 "rsync support for syncing cookbook data"
scp takes a lot of time with a big code base.
Kitchen converge takes more than 20 minutes as it copies everything everytime

[2021-09-25 21:51] nielsbuus commented on #1801
I would like to weigh in on this issue, as I am also facing similar challenges with the way test-kitchen behaves, although I'm still trying to understand why.

From what I have been able to piece together, when you use a reboot resource, Chef will ultimately execute this method:

https://github.com/chef/chef/blob/v17.6.2/lib/chef/platform/rebooter.rb#L34

The problem here is that once you execute

[2021-09-26 12:59] nielsbuus opened #1803 "Developing a new transport"
I would like to develop a new version of https://github.com/test-kitchen/test-kitchen/blob/master/lib/kitchen/transport/winrm.rb in a separate ruby gem, but I am not sure how to get test-kitchen to load this extra gem.

Is there any particular mechanism for loading extra gems into kitchen? I would like to avoid forking all of test-kitchen.

[2021-09-26 13:40] nielsbuus commented on #1803
Sometimes it pays off to search more thoroughly. I found this issue https://github.com/test-kitchen/test-kitchen/issues/1256 and discovered that making the transport available under `(lib/)kitchen/transport/name_of_transport` inside the gem was enough to get kitchen to pick it up once the gem was installed locally in the chef ruby.

[2021-09-26 13:40] #1803 closed

[2021-09-28 08:23] i5pranay93 commented on #1801
@ramereth @nielsbuus We had this issue in past as well,
 https://github.com/test-kitchen/test-kitchen/issues/1376

[2021-10-02 09:44] georgettica opened #1806 "Make podman usage docs more precise"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :frowning_person: Problem Statement

I want to use this repo to test with podman but there are no docs present nor examples in the repo on how to do it

## :grey_question: Possible Solution

A writeup related to this repo

[2021-10-08 12:13] js-dot opened #1809 "Platform Specific Provisioner Settings"
## :frowning_person: Problem Statement

We use test-kitchen for testing Chef / Cinc cookbooks (chef_zero provisioner). Due to the licensing issues from Chef 15 on, we are in the process of migrating to Cinc. Regarding kitchen we have two options there I think:

1. Set `chef_omnibus_root` (provisioner) to the installation directory of Cinc (we have Cinc pre-installed in our OS templates)
2. Set `do

[2021-10-15 00:44] tas50 opened #1810 "Add security headers to kitchen.ci page"
We can and should set additional security headers in the kitchen.ci page. This is controlled via the Hugo config at https://github.com/test-kitchen/test-kitchen/blob/master/docs/config.toml

Headers missing:

- [ ] Content-Security-Policy
- [x] X-Frame-Options
- [x] X-Content-Type-Options
- [x] Referrer-Policy
- [x] Permissions-Policy
- [x] Strict transport security

See https://securityheaders.co

[2021-10-21 10:34] ashiqueps opened #1818 "Kitchen converge fails to fetch the package"
## :speaking_head: Foreword

On the first `kitchen converge` one of the recipe contains a typo in the package name. So it raised a FATAL error mentioning the package was not found. After fixing the typo, on the consecutive runs, the command returns error saying that the package was not found.

## :ghost: Brief Description

I was learning chef cookbooks and testing that with the `test-kitchen`. I w

[2021-10-21 11:08] #1818 closed, assigned to nobody

[2021-11-16 14:28] ashiqueps opened #1826 "Unit tests are failing on master branch"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Some of the unit tests are failing on master branch. This is causing the azure builds to fail for all the open pull requests. The tests are failing on Windows platform only.

## Version

te

[2021-11-29 15:34] #1798 closed

[2021-12-01 15:32] #1693 closed

[2021-12-14 10:16] vkarve-chef opened #1830 "Spike: Plan for test coverage improvement"
## Description

The % test coverage of test-kitchen and associated plugins needs to be ascertained. The goal is to have a plan such that the test run on PR creation or merge should indicate current status and change, if any, since most recent commit.

Plugins include
1. kitchen-ec2
2. kitchen-azurerm
3. kitchen-google
4. kitchen-vagrant
5. kitchen-dokken
6. kitchen-vcenter
7. kitchen-vra

in case

[2021-12-14 20:03] nacc commented on #778
FWIW, I think I figured out why this happens and it's sort of hairy

HashRecursiveMerge, only handles recursive merging of hashes (duh). Once it hits a value that is not a Hash, it takes the new value and ignores the old value. This is used by the CLI logic eventually. https://github.internal.digitalocean.com/digitalocean/test-kitchen-chef/blob/1a82d99adf36f561c1dbdde973dadf9fc35b7a8a/lib/kitchen/

[2021-12-21 16:46] vkarve-chef commented on #1802
@deeptshukla could you please share the logs here? typically, copying cookbooks shouldn't take as long.

[2021-12-21 19:56] tas50 commented on #1810
FYI: Some of these have been added, but not all.

[2021-12-22 08:24] damacus commented on #1809
I need to confirm this with some tests. But over at Sous-Chefs, we just [change the product name](https://github.com/sous-chefs/postgresql/blob/main/kitchen.yml#L7) to allow us to use CINC.

@ramereth might be able to weigh in on this with more detail.

[2021-12-22 14:47] damacus commented on #1810
Updated the list with the current status. Looks like we're just missing Content Security Policy

[2022-01-04 00:29] ramereth commented on #1809
@js-dot can I assume you're using Cinc Workstation at least? If so that change should work however I do know there are some issues if you're wanting to use Cinc with dokken which might be nice to address at some point.

[2022-01-06 13:31] sanjain-progress commented on #1810
can we close this issue? PR for this fix is merged

[2022-01-06 15:46] #1810 closed

[2022-01-06 15:46] tas50 commented on #1810
All done now

[2022-01-16 06:37] trinitronx opened #1836 "Cannot enable Ohai Optional Plugins in Test Kitchen"
## :ghost: Brief Description

I am trying to update a legacy cookbook that works fine on Chef `13.x`, but was broken by the [Ohai `:Passwd` plugin change in Chef `14`][2].

It appears that [other Chef customers are having the same issue][4], yet with no confirmed working solution.

[Chef documentation for Ohai `optional_plugins`][1] gives the example `client.rb` syntax:

[code]

This [StackOverflo

[2022-01-16 10:40] trinitronx commented on #1836
As it turns out... the root cause was being masked by the error and some underlying assumptions about `intermediate_instructions` being set per-`platform` vs. `dokken.driver` level.  I had assumed that [`docker.driver.intermediate_instructions` would run commands][1] to create a user inside the container.  However, the entire hash key was overridden by the `platform.driver.intermediate_instruction

[2022-01-16 10:40] #1836 closed

[2022-01-18 08:24] logwolvy opened #1837 "failing accept-no-persist chef license when using Policyfiles"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Using `accept-no-persist` as chef_license in chef_zero provisioner blocks the kitchen converge run

## Version

Test Kitchen version: 3.2.2

## Environment

Host OS: macOS Big Sur 11.6.1
Vi

[2022-01-20 00:11] dwmarshall commented on #1343
It would also be good to have an exit status of zero...

[code]

[2022-01-24 23:56] tas50 commented on #1837
This is chef-cli not being aware of that license acceptance and that's something the team will need to dig into.

[2022-01-30 04:56] #1826 closed

[2022-01-30 04:57] tas50 commented on #1826
Fixed

[2022-01-30 04:57] tas50 commented on #1783
Done

[2022-01-30 04:57] #1783 closed

[2022-01-30 04:58] #1756 closed

[2022-01-30 04:58] tas50 commented on #1756
Issue moved to [test-kitchen/kitchen-ec2 #576](https://github.com/test-kitchen/kitchen-ec2/issues/576) via [**ZenHub**](https://www.zenhub.com/)

[2022-01-30 04:58] #1707 closed

[2022-01-30 04:58] tas50 commented on #1707
I think for now we're just going to let this one fly

[2022-01-31 15:38] kasif-adnan commented on #1742
relevant PRs
https://github.com/test-kitchen/test-kitchen/pull/1848
https://github.com/test-kitchen/kitchen-ec2/pull/577

[2022-02-02 10:14] flman opened #1856 "Is this the right way to use test-kitchen with podman?"
## Description

Although Podman is once mentioned in the documentation, using it with test-kitchen instead of Docker is not so straight forward. Could you please suggest some steps for this use case?

I've tried this:
$sudo systemctl start io.podman.socket
$sudo systemctl status io.podman.socket
● io.podman.socket - Podman Remote API Socket
   Loaded: loaded (/usr/lib/systemd/system/io.podman.sock

[2022-02-16 12:52] damacus opened #1866 "Minitest deprecation must_be_nil"
## :ghost: Brief Description

Run rspec:

[code]

## Version

`main`

## Environment

GitHub Actions

[2022-03-02 06:31] sanjain-progress commented on #1837
can we close this issue? as the PR got merged

[2022-03-03 09:34] damacus opened #1873 "Bundle install on Windows takes over an hour"
## :ghost: Brief Description

All Axure Pipelines are failing due to bundle install on completing on Windows after an hour.

## Version

`main` as of 2022-03-03

## Environment

- Azure Pipelines - Windows
- GitHub Actions - Windows

## Scenario

[code]

## Steps to Reproduce

bundle install on Windows

## Expected Result

It doesn't take an hour!

## Actual Result

It never resolves

[2022-03-13 22:56] #1866 closed

[2022-03-14 21:34] karmix opened #1879 "`always_update_cookbooks` should not be enabled by default"
test-kitchen#1765 configures the `chef_infra` Test Kitchen provider to enable `always_update_cookbooks` by default.
The only explanation I can find is the PR description, which says:

    Without this the user doesn't get their updated cookbooks transferred to the box.
    The user shouldn't need to set this.

Unfortuantely, this is not true; Test Kitchen always gathers fresh copies of the cookboo

[2022-03-17 13:13] damacus commented on #1879
_I might be mis-understanding this, so please correct me if my understanding is incorrect here._

The lock file created locks the cookbook you're testing. So if you make an update to it, it won't get sync'd to the node because it doesn't match the version required. Requiring this change in the first place.

## Impacting IaC

Here we're doing what we would expect, though definitely not what you're

[2022-03-17 13:14] damacus commented on #1879
In the mean time, if you haven't done it already, you'll want to set your provisioner to `always_update_cookbooks: false`

[2022-03-17 23:46] karmix commented on #1879
@damacus: The lock file contains a lock for the cookbook you are testing, but _does not enforce locks for local cookbooks_ for precicely the cookbook development use case you are describing.  What you are describing would be a bug, however, I cannot reproduce this behavior with Test Kitchen when `always_update_cookbooks` is set to `false`.  Was the `cookbook` directive changed in the `Policyfile.r

[2022-03-28 13:24] damacus commented on #1879
I'm fairly sure it was the result of me trying to move over from [Berks to Policyfiles in HAproxy](https://github.com/sous-chefs/haproxy/pull/465).

Seeing as no-one else has piped into correct you on this. I'm going to run that pipeline again, with it set to false, and see how we get on 👍🏼

[2022-03-30 13:39] #1837 closed

[2022-03-30 15:15] damacus opened #1886 "Ruby 2.6 is no longer supported by Azure DevOps"
## :ghost: Brief Description

Ruby 2.6 is no longer supported by Azure DevOps

[See this Pr for more details](https://github.com/test-kitchen/test-kitchen/pull/1885/checks?check_run_id=5756588685)

## Version

`main`

## Environment

CI, Azure

## Steps to Reproduce

Submit a PR

[2022-04-01 06:20] #1873 closed

[2022-04-01 06:21] #1886 closed

[2022-04-12 03:12] vnaipaul commented on #1856
@flman have you since retried with a newer version of podman ?  The Podman Compatibility API that docker-api would expose was only [introduced in podman v2.0.0](https://podman.io/blogs/2020/07/01/rest-versioning.html) apparently.

[2022-04-14 16:15] jakauppila commented on #1879
We set `always_update_cookbooks: false` so that we are not constantly resolving the dependencies and updating the lockfile, but I would say that if I'm testing something locally, that I _do_ want any local cookbook changes pushed for testing.

Did `always_update_cookbooks` change its intent over time?

[2022-04-15 01:27] karmix commented on #1879
I agree, when testing locally, I want local cookbook changes pushed for testing, but this always happens regardless what you set for `always_update_cookbooks`.

I do not believe the behavior of `always_update_cookbooks` has ever changed, though the name is a bit misleading.  When it is set to `true`, kitchen has chef or berks update the lock file before sending cookbooks to the test environment an

[2022-04-22 10:03] pschaumburg opened #1891 "Downloads does not allow wildcards in downloading files"
## :frowning_person: Problem Statement

We have the need of downloading files from a specific directory. The files within that directory aren't statically named. So they could contain always dates and times that are different.
To download those files, we are currently using
[code]

This results always in a directory named `./logfiles/apache2` which contains all the files.
A wildcard letter does re

[2022-05-23 10:41] vkarve-chef commented on #1891
@pschaumburg just curious, did you try prefixing the wildcard with `\` ? ref https://unix.stackexchange.com/questions/27419/how-to-use-wildcards-when-copying-with-scp
disclaimer: i haven't tried to repro the issue with a kitchen.yml entry as above in description.

[2022-05-23 10:43] pschaumburg commented on #1891
@vkarve-chef
Tried all possibilities but nothing worked.

[2022-05-26 00:21] carlosaya opened #1896 "Kitchen Converge does not return an error when chef-client executable cannot be found on Windows guests"
## :ghost: Brief Description
When running `kitchen converge` for a Windows guest, no error is returned if `chef-client.bat` is not found in the guest.  Instead, converge exits successfully without running chef.

This was discovered when using CINC workstation locally against templates that were built with Chef Client instead of CINC Client.

## Version
[code]

## Environment
Windows 10 with CINC W

[2022-05-27 20:34] nusenu opened #1898 "Failed to complete #create action: [pkeys are immutable on OpenSSL 3.0]"
## :ghost: Brief Description

`kitchen create ...` fails:
[code]

## Version

test-kitchen-3.2.2
kitchen-vagrant-1.11.0
Vagrant 2.2.19
VirtualBox-6.1-6.1.34_150636_fedora36-2
openssl gem version: 3.0.0
openssl-3.0.2-5.fc36

## Environment

Fedora 36

## Scenario

kitchen create

## Steps to Reproduce

1. `git clone https://github.com/nusenu/ansible-relayor.git`
2. `cd ansible-relayor`
3. `kitchen

[2022-05-27 20:52] nusenu commented on #1898
upgrading net-ssh from 6.1.0 to 7.0.0.beta1
solves this issue
https://github.com/net-ssh/net-ssh/issues/843

[2022-05-27 20:52] #1898 closed

[2022-06-18 12:33] Annih commented on #1704
I made something simple and "ugly" for our CI integration.
It is simple as the tests represents the different phases (create, converge, verify, etc.), and the results are boolean succeeds or not:
* when there is a convergence error you need to read the kitchen.log to find it.
* the verify results are not handled, however you can use inspec + its junit formatter

it is currently ugly, since I had t

[2022-07-19 11:22] sspans-sbp opened #1904 "Update net-ssh to support RHEL 9 / AlmaLinux 9 / RockyLinux 9"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

The current version of net-ssh that's used by test-kitchen doesn't support SHA2 signatures.
The older SHA1 signatures have been deprecated and are not enabled in EL9 distributions.

The mos

[2022-07-25 11:17] ssurendra549 opened #1906 "Getting uninitialized constant Dry::Container::DidYouMean"
I, [2022-07-25T10:22:02.446335 #2076]  INFO -- Kitchen: -----> Starting Test Kitchen (v3.2.2)
E, [2022-07-25T10:22:02.640648 #2076] ERROR -- Kitchen: ------Exception-------
E, [2022-07-25T10:22:02.640701 #2076] ERROR -- Kitchen: Class: Kitchen::ClientError
E, [2022-07-25T10:22:02.640719 #2076] ERROR -- Kitchen: Message: Could not load the 'terraform' driver. Error: uninitialized constant Dry::Cont

[2022-07-25 18:42] sidxz commented on #1904
Adding Oracle Linux 9 to the list as well.

[2022-07-26 21:20] karmix commented on #1879
@damacus: Did you ever get a chance to re-run that pipeline you spoke about?

[2022-08-07 06:27] RomanKisilenko commented on #1802
Could you revisit this issue. It is a well-known issue with kitchen since long time ago. In earlier versions of kitchen it was possible to use a third-party rsync transport to solve the issue and it is not available for latest versions anymore.

[2022-08-09 16:58] vkarve-chef commented on #1906
@ssurendra549 could you please describe the command you are executing? also, would you like to try out with a more recent version of test-kitchen included in latest [Chef Workstation](https://www.chef.io/downloads/tools/workstation)?
  it will help to see the `kitchen.yml` file for further analysis of the issue.

[2022-08-11 19:37] jweyer8 opened #1909 "MacOS Ventura: SSH authentication failure"
## :ghost: Brief Description

I'm working on testing our cookbooks on macOS Ventura betas. Kitchen is failing to authenticate to the Ventura VM via public key. This quite possibly could be an issue with Net::SSH.

## Version

Chef Workstation version: 22.6.973
Chef Infra Client version: 17.10.0
Chef InSpec version: 4.56.20
Chef CLI version: 5.6.1
Chef Habitat version: 1.6.420
Test Kitchen version:

[2022-08-12 01:25] tas50 commented on #1909
Ventura disabled SHA-1 keys which Vagrant uses. This one is much bigger than just Test Kitchen and is something the larger community will need to work through

[2022-08-12 13:27] carlosmmatos commented on #1904
When is this expected to be fixed/released?

[2022-08-12 19:08] jweyer8 commented on #1909
Thanks for the quick response @tas50, I guess I'm out of the loop.

[2022-08-18 18:07] Stromweld commented on #1904
@vkarve-chef This should be a quick and easy one to fix RHEL 9 support. Simply need to update the dependency version of net-ssh.

[2022-08-18 18:41] Stromweld commented on #1879
I believe it was set to make it easier for pulling in dependencies. If you add to your CB metadata a new dependency and didn't run chef update you'd get an error. Same thing if you aren't locking CB versions and strive to use latest versions of cookbook dependencies then they wouldn't be pulled in if you don't update the policyfile lock. If you are pinning versions then I don't see any harm in it

[2022-08-18 18:47] Stromweld commented on #1904
looks like it actually is an issue with net-scp forcing dependency to be less than 7 for net-ssh. https://github.com/test-kitchen/test-kitchen/pull/1905

[2022-08-18 20:27] carlosmmatos commented on #1904
So the main gemspec has the updated versions, just hasn't been cut in a new release from what I can make of it.. but out of curiousity, if you take a look at Vagrant's [gemspec](https://github.com/hashicorp/vagrant/blob/29b04f4f984d34268e126647da0e84da88e40a8a/vagrant.gemspec#L29), they are not using net-ssh > 7 and yet I can vagrant ssh into a RHEL9 distro no problem.. I may be overlooking it tho

[2022-08-31 11:14] thumperward commented on #1087
This is fixed, right? Using `excludes: [ /windows/ ]` now excludes any platforms matching that regex.

[2022-09-07 01:19] luckeyca opened #1911 "kitchen verify failed with busser dependencies error"
## :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

when running "kitchen test" command, it failed at "kitchen verify" stage with busser-controls installation dependencies error.

## Version

[Version of the project installed]

## Environmen

[2022-09-07 13:13] luckeyca commented on #1911
fixed. looks like my kitchen.yml config triggered something unexpected. once I moved the verify out of the suites section, everything is working. so kitchen terraform doesn't look like supporting verifier under suites section.

[2022-09-07 13:13] #1911 closed

[2022-09-19 19:50] karmix commented on #1879
Correct, if you add new dependencies to a cookbook and forget to update your lock file, Chef client may abort.  However, no individual tool in your test suite can handle this task for you because the correct time to update your SUT is before you run the test suite, not in the middle of it (when tools like test-kitchen get to run).  When tests are run in parallel, having a tool in the suite modify

[2022-09-19 21:46] Stromweld commented on #1879
I think there is confusion on the policy files. Since there are multiple types of cookbooks the community has come with library/resource, wrapper, and potentially role cookbooks you have policyfiles that are for cookbook testing and then policyfiles that are uploaded to chef-server and assigned to servers. Typically lock files aren’t checked into git unless they are ones for assigning to servers i

[2022-09-20 21:59] karmix commented on #1879
There is considerable value in committing lock files for cookbook repos where the lock file is never pushed to a chef server.  Contributors come from various backgrounds and some contributions take months or even years for a contributor to create.  When a potential contributor runs a test suite and finds a bunch of failed tests that aren't related to their work, a portion of them give up on their

[2022-09-28 21:27] Stromweld commented on #1904
a workaround for test kitchen is to set the transport to ssh and set the username and password opttions. This bypasses the ssh key and the issue with old algorithm being dropped till the new net-ssh which supports the latest algorithms can be integrated into the build.

[2022-10-03 18:57] jburns24 opened #1912 "Converge on ubuntu 22.04 fails with `unsupported key type 'ssh-ed25519'`"
## :ghost: Brief Description

Converge of a fresh bento/ubuntu-22.04 server with a modified `transport` to use `username: vagrant` and `password: vagrant` fails to connect to the vm with the error `unsupported key type 'ssh-ed25519'`

## Version

[code]

## Environment

Windows 10
Powershell 5.1
Vagrant 2.3.1
VirtualBox 6.1.36

## Scenario
I cannot converge a new ubuntu 22.04 vm when I modify the

[2022-10-05 21:08] sidxz commented on #1912
I believe this is linked to the below issue.
https://github.com/test-kitchen/test-kitchen/issues/1904

[2022-10-17 17:11] jburns24 commented on #1912
Workaround for me was to downgrade chef workstation to 20.9.158 (this was an old version I used to run and never noticed issues). Downgrading to this version and I have been able to pass username and password in the transport section and converge an ubunt 22 vm

[2022-10-18 18:18] brycekahle commented on #1470
@coderanger Your approach doesn't work if the InSpec tests fail because of https://github.com/inspec/kitchen-inspec/issues/276

[2022-10-20 16:14] corbob opened #1915 "Documentation for lifecycle hooks could be improved dramatically"
## :ghost: Brief Description

I have been trying to sort out lifecycle hooks for a few weeks, and finally made two determinations that are no where that I can find in the documentation:

* The shell ran is OS specific.
  * This appears to be `cmd` for local when the host is Windows based, and `bash` (? or maybe `zsh`, or perhaps `/bin/sh`, I'm not entirely sure) for local when the host is macOS ba

[2022-10-25 14:54] bsampaio opened #1918 "Kitchen Converge does not work with Docker after a fresh install"
## :ghost: Issues with kitchen and Docker integration

When trying to run ```kitchen converge icinga-ubuntu-2204``` I got the following error:
[code]

After checking that everything was well configured I tried the debug option ```kitchen converge --debug icinga-ubuntu-2204```
In the ```~/.kitchen/logs/kitchen.log``` file I found the following error:
[code]

By opening the gems file I found the fol

[2022-10-25 15:25] Stromweld commented on #1918
This should be filed in the dokken repo https://github.com/test-kitchen/kitchen-dokken.

[2022-10-25 15:35] bsampaio commented on #1918
Moved to https://github.com/test-kitchen/kitchen-dokken/issues/282

[2022-10-25 15:35] #1918 closed

[2022-10-27 19:20] raddessi opened #1919 "Incompatibility with OpenSS L3.0"
## :ghost: Brief Description

This is a continuation of #1898, it seems that test-kitchen needs to allow net-ssh version 7 to be compatible with openssl 3.0 but the gem is currently locked to `net-ssh<7`. I'm not sure how you all intend for this to work without a patch.

## Version
[code]

## Environment
Fedora 36
[code]

## Scenario

Running a converge fails as shown before
[code]

## Steps to Re

[2022-10-27 19:47] raddessi commented on #1919
oh snap, after working on this for two hours I found an unreleased tag 3.4.0 here. That seems to work just fine. Is there a reason it isn't released yet?

[2022-10-27 20:17] Stromweld commented on #1919
It has been released to rubygems, just hasn't had a new tag in the repo here created for it yet. https://rubygems.org/gems/test-kitchen

[2022-10-27 20:38] raddessi commented on #1919
gotcha! OK I'll close this out, that version works for me. Thanks!

[2022-10-27 20:38] #1919 closed

[2022-10-27 22:06] coderjoe commented on #1190
Closing as the linked merged PR seems to have resolved my original problem.

[2022-10-27 22:06] #1190 closed